/* Copyright (c) 2013-2014, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

/include/ "msm8974pro-pm8941.dtsi"
/include/ "msm8974-wolverine.dtsi"

/ {
	model = "MSM 8974 WOLVERINE";
	compatible = "qcom,msm8974-wolverine", "qcom,msm8974";
	qcom,msm-id = <217 0x10000>;
	qcom,board-id = <
		0x84002c0a 0x00000 /* windermere na */
		0x85002c0a 0x00000 /* windermere vzw */
		0x86002c0a 0x00000 /* windermere sprint */
		0x87002c0a 0x00000 /* windermere emea */
		0xf07404b2 0x00000 /* wolverine emea */
		0xf074049a 0x00000 /* wolverine na */
		0xf0740465 0x00000 /* wolverine vzw */
		0xf07404bd 0x00000 /* wolverine sprint */
	>;
};

&cci {
	qcom,camera@0 {
		qcom,mount-angle = <0>;
	};

	qcom,camera@1 {
		qcom,mount-angle = <0>;
	};
};

&pm8941_lsid1 {
	qcom,leds@d800 {
		status = "disabled";
		/delete-node/ qcom,wled_0;
	};
};

&soc {
	bt_rfkill {
		gpio_bt_reset = <&msmgpio 50 0>;
	};

/*
	i2c@f9925000 {
		#address-cells = <1>;
		#size-cells = <0>;
		cell-index = <4>;
		compatible = "qcom,i2c-qup";
		reg = <0xf9925000 0x1000>;
		reg-names = "qup_phys_addr";
		interrupts = <0 97 0>;
		interrupt-names = "qup_err_intr";
		qcom,i2c-bus-freq = <50000>;
		qcom,i2c-src-freq = <19200000>;
		qcom,master-id = <86>;
		qcom,scl-gpio = <&msmgpio 11 0x00>;
		qcom,sda-gpio = <&msmgpio 10 0x00>;
		status = "ok";

		stled110@31 {
			compatible = "stled110";
			reg = <0x31>;
			stled110,ldo_en = <&msmgpio 0 0x00>;
			stled110,bl_en = <&msmgpio 9 0x00>;
			linux,default-trigger = "bkl-trigger";
		};
	};
*/

	i2c@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		cell-index = <3>;
		compatible = "i2c-gpio";
		gpios = <&msmgpio 10 0x00 &msmgpio 11 0x00>;
		i2c-gpio,delay-us = <2>;
		status = "ok";

		stled110@31 {
			compatible = "stled110";
			reg = <0x31>;
			stled110,ldo_en = <&msmgpio 0 0x00>;
			stled110,bl_en = <&msmgpio 9 0x00>;
			linux,default-trigger = "bkl-trigger";
		};
	};
};
